<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap.min.js"/>
    </head>
    <body id="body">
        <div class="navbar">
            <div class="navbar-inner">
                <p style="float: right; margin-top: 0.8em">
                    <a href="changelog.html">Version 1.3.0 (Changelog)</a> | <a href="https://github.com/spatialhumanities/xtriples">GitHub</a>
                </p>
                <p style="float: left; margin-top: 0.8em">
                    <a href="index.html">About</a> | <a href="documentation.html">Documentation</a> | <a href="examples.html">Examples</a>
                </p>
            </div>
        </div>
        <div id="content" class="container-fluid"/>
        <div class="navbar">
            <div class="navbar-inner">
                <p style="float: left; margin-top: 0.8em">
                	Credits: <a href="http://www.adwmainz.de">Academy of Sciences and Literature | Mainz</a> &amp; <a href="http://www.digitale-akademie.de">Digital Academy</a> (<a href="https://twitter.com/digicademy">@digicademy</a>)
                	<br/>Funded by: <a href="http://www.bmbf.de">German Federal Ministry of Education and Research</a>
                    <br/>
                	Software licensed under <a href="http://opensource.org/licenses/MIT">MIT</a>, content and documentation licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a>
                </p>
            </div>
        </div>
        <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"/>
    </body>
</html>